<div>
    <h1>Customers</h1>
    <p><i>Click to select a customer</i></p>

    <!-- Customer list is here -->
    <ul>
        <!-- Set a class based on a expression selected is a class in app.component.css -->
        <li *ngFor="let cust of customers" (click)="customer = cust" [ngClass]="{selected: customer === cust}"> {{cust.name}}
        </li>
    </ul>

    <!-- Details begin here -->
    <div *ngIf="customer">
        <h1>{{customer.name}}</h1>

        <p><i>{{customer.name}} in the {{customer.address.region}} region at {{customer.address.street}}, {{customer.address.city}}, {{customer.address.county}}</i></p>
        <br />

        <fieldset>
            <label>Name: <input [(ngModel)]="customer.name" placeholder="Customer name"></label>
        </fieldset>

        <label><input type="checkbox" [(ngModel)]="showAddress">Show Address</label>

        <div *ngIf="showAddress">
            <h3>Address:</h3>
            <fieldset>
                <label>Street: <input [(ngModel)]="customer.address.street"></label>
            </fieldset>
            <fieldset>
                <label>City: <input [(ngModel)]="customer.address.city"></label>
            </fieldset>
            <fieldset>
                <label>Region: </label>
                <select [(ngModel)]="customer.address.region">
                    <option *ngFor="let region of regions">{{region}}</option>
                </select>
            </fieldset>
            <fieldset>
                <div *ngIf="county">
                    <label>County: </label>
                    <select [(ngModel)]="customer.address.county">
                        <option *ngFor="let county of counties">{{county}}</option>
                    </select>
                </div>
            </fieldset>
        </div>
    </div>
</div>