<!-- Guard against missing customer (defensive programming) -->
<div *ngIf="customer">

    <!--Diagnostic: {{ customer | json }}-->
    <h1>{{customer.name}}</h1>

    <p><i>{{customer.name}} in the {{customer.address.region}} region at {{customer.address.street}}, {{customer.address.city}}, {{customer.address.county}}</i></p>
    <br />

    <fieldset>
        <label>Name: <input [(ngModel)]="customer.name" placeholder="Customer name"></label>
    </fieldset>

    <label><input type="checkbox" [(ngModel)]="showAddress">Show Address</label>

    <!-- Addreess detail begins here -->
    <div *ngIf="customer.address">
        <hr>
        <address-comp [addreess]="address"></address-comp>
    </div>
</div>